name: Release
run-name: Release
on: workflow_dispatch

permissions:
  contents: write

env:
  GIT_SHA: ${{ github.sha }}

jobs:
  create_linux_executable:
    runs-on: ubuntu-latest
    container:
      image: rust:bookworm
    steps:
      - uses: actions/checkout@v4

      - name: Install target
        run: rustup target add x86_64-unknown-linux-gnu

      - name: Build
        run: cargo build --target x86_64-unknown-linux-gnu --release

      - name: Create artifact
        run: mkdir linux_x86_64 && mv target/x86_64-unknown-linux-gnu/release/colligo linux_x86_64/colligo

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: release_linux_${{ github.ref_name }}
          path: linux_x86_64
          retention-days: 1


  create_windows_executable:
    runs-on: ubuntu-latest
    container:
      image: rust:bookworm
    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: apt update && apt install -y wine libwine mingw-w64

      - name: Install target
        run: rustup target add x86_64-pc-windows-gnu

      - name: Build
        run: cargo build --target x86_64-pc-windows-gnu --release

      - name: Create artifact
        run: mkdir win_x86_64 && mv target/x86_64-pc-windows-gnu/release/colligo.exe win_x86_64/colligo.exe

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: release_windows_${{ github.ref_name }}
          path: win_x86_64
          retention-days: 1

  create_release:
    runs-on: ubuntu-latest
    needs:
      - create_linux_executable
      - create_windows_executable
    steps:
      - name: Download linux artifacts
        uses: actions/download-artifact@v4
        with:
          name: release_linux_${{ github.ref_name }}
          path: linux_x86_64

      - name: Download windows artifacts
        uses: actions/download-artifact@v4
        with:
          name: release_windows_${{ github.ref_name }}
          path: win_x86_64

      - name: zip artifacts
        run: zip -r linux_x86_64.zip linux_x86_64 && zip -r win_x86_64.zip win_x86_64

      - name: Create release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            linux_x86_64.zip
            win_x86_64.zip
          tag_name: ${{ github.ref_name }}
          draft: false
          prerelease: false
          token: ${{ secrets.GITHUB_TOKEN }}
